<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Simple Cryptography Calculators</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4"><legend><h1>Submit Solutions</h1></legend></div>
			<div class="col-md-4"></div>
		</div>
        <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Flag Submission</h5>
                </div>
                </div>
                <a href= "/Submit/flag" type="button" class="btn btn-primary btn-lg">Flag</a>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Final Key Submission</h5>
                </div>
                </div>
                <a href= "/Submit/final" type="button" class="btn btn-primary btn-lg">Final Key</a>
        </div> 
        </div>
	</body>
</html>