<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Substitution Encryption</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body align=center>
        <div class="row">
            <div class="col-md-4"><a href= "/" type="button" class="btn btn-default btn-sm">Home</a></div>
            <div class="col-md-4"><legend><h1>Encrypted Message</h1></legend></div>
            <div class="col-md-4"><a href= "https://github.com/david-UTU/CommonCryptography" type="button" class="btn btn-default btn-sm">Code</a></div>
        </div>
        <h3>{{encrypted}}</h3>
    </body>
</html>