<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Simple Cryptography Calculators</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4"><legend><h1>Simple Cryptography Tools</h1></legend></div>
			<div class="col-md-4"></div>
		</div>
        <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Alternates which cipher it uses on each character</h5>
                </div>
                </div>
                <a href= "/Simple/digraph" type="button" class="btn btn-primary btn-lg">Digraph</a>
        </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Used for solving simple substitution ciphers</h5>
                    </div>
                    </div>
                    <a href= "/Simple/subCiphers" type="button" class="btn btn-primary btn-lg">Substitution</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Standard shift cipher: 1-26 rotations</h5>
                    </div>
                    </div>
                    <a href= "/Simple/caesar" type="button" class="btn btn-primary btn-lg">Caesar</a>
            </div>
          </div>
        </div>
	</body>
</html>