<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Simple Cryptography Code</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"><a href= "/" type="button" class="btn btn-default btn-sm">Home</a></div>
			<div class="col-md-4"><legend><h1>Cryptography Code</h1></legend></div>
			<div class="col-md-4"><a href= ".." type="button" class="btn btn-default btn-sm">Back</a></div>
		</div>
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Simple Tools</h5>
                    </div>
                    </div>
                    <a href= "/Simple/simple" type="button" class="btn btn-primary btn-lg">Simple</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Common Cryptograpy Tools</h5>
                    </div>
                    </div>
                    <a href= "/CommonTools/common" type="button" class="btn btn-primary btn-lg">Common</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Submit Flag</h5>
                    </div>
                    </div>
                    <a href= "/Submit/submit" type="button" class="btn btn-primary btn-lg">Submit</a>
            </div>
          </div>
        </div>
	</body>
</html>