<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Common Tools</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4"><legend><h1>Common Tools</h1></legend></div>
			<div class="col-md-4"></div>
		</div>
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Counts the appearances of each letter in a given string</h5>
                    </div>
                    </div>
                    <a href= "/CommonTools/charFreq" type="button" class="btn btn-primary btn-lg">Frequency</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Base64 Converter</h5>
                    </div>
                    </div>
                    <a href= "/CommonTools/base64" type="button" class="btn btn-primary btn-lg">Base64</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Binary Converter</h5>
                    </div>
                    </div>
                    <a href= "/CommonTools/binary" type="button" class="btn btn-primary btn-lg">Binary</a>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Hexadecimal Converter</h5>
                    </div>
                    </div>
                    <a href= "/CommonTools/hex" type="button" class="btn btn-primary btn-lg">Hexadecimal</a>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Uses Moore's Law to Evaluate Password Strength</h5>
                    </div>
                    </div>
                    <a href= "/CommonTools/pStrength" type="button" class="btn btn-primary btn-lg">Password Strength</a>
            </div>
          </div>
	</body>
</html>